{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container1">
        <h2>Product List</h2>
        <div class="product-flex-container">
            {% for product in products %}
            <div class="product-card">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                <div class="product-info">
                    <h3>{{ product.name }}</h3>
                    <p class="product-price">${{ product.price }}</p>
                    <p class="product-description">{{ product.description }}</p>
                    <a href="{% url 'product_detail' product.id %}" class="btn-details">View Details</a>
                    <a href="{% url 'cart' product.id %}" class="btn-details">Add to Cart</a>
                    
                </div>
                
            </div>
            {% empty %}
            <p>No products available.</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}
